{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .header {
            display: flex;
            justify-content: center;
            padding: 2em;
            font-weight: bold;
        }
        .form-container {
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            display: block;
        }
        .custom-button {
            display: flex;
            justify-content: flex-end;
        }
    </style>

    <div class="container">
        <h3 class="header">ADD NEW CONVERTER ENTRY</h3>
        <form class="form-container" action="{{ path('converter_add_entry') }}" method="POST">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" name="name" id="name" placeholder="e.g. Ebay" aria-describedby="inputGroup-sizing-default" required>
            </div>

            <div class="custom-button">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>

{% endblock %}