{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .header {
            display: flex;
            justify-content: center;
            padding: 2em;
            font-weight: bold;
        }
        .select-container {
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            display: block;
        }
        .custom-file {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .custom-button {
            display: flex;
            justify-content: flex-end;
        }
    </style>

    <div class="container">
        <h3 class="header">IAI XML CONVERTER</h3>
        <form action="{{ path('converter_upload_file') }}" method="POST" enctype="multipart/form-data" class="select-container form-group">
            <select type="text" name="converter" id="converter" class="custom-select" required>
                {% for converter in converters %}
                    <option value="{{ converter.name }}">{{ converter.name }}</option>
                {% endfor %}
            </select>

            <div class="custom-file">
                <input type="hidden" name="MAX_FILE_SIZE" value="300000000" />
                <input type="file" class="custom-file-input" id="fileToUpload" name="fileToUpload" required>
                <label class="custom-file-label" for="customFile">Choose file to convert</label>
            </div>

            <div class="custom-button">
                <button type="submit" value="submit" class="btn btn-primary">Convert</button>
            </div>
        </form>
    </div>

{% endblock %}
